<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#site" role="tab" data-toggle="tab">Site</a></li>
    <li role="presentation"><a href="#assessor" role="tab" data-toggle="tab" id="assessorTab">Assessor</a></li>
    <li role="presentation"><a href="#student" role="tab" data-toggle="tab" id="studentTab">Student</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
	<include href="coordinator_site.htm"/>
	<include href="coordinator_assessor.htm"/>
	<include href="coordinator_student.htm"/>
  </div>
</div>
