<div class="modal fade" id="studentSearchAssessorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span></span> Search Assessor</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="siteForm">
			<div class="form-group">
			  <label class="col-lg-4 control-label">Assessor Email</label>
			  <div class="col-lg-8">
				<input type="text" class="form-control" name="assessorEmail" placeholder="Assessor Email">
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-lg-4 control-label"></label>
			  <div class="col-lg-8">
				<div class="well" id="assessorSearchResult"></div>
			  </div>
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
	var assessorEmailArr = [];
	
	$('#studentSearchAssessorBtn').bind('click', function(){
		$.post(
			'/coordinator/assessorList',
			null,
			successLoadSearchAssessor,
			'json'
		);
	});
	
	$('input[name=assessorEmail]').keyup(function(event){
		var keyVal = cm.inVal('#studentSearchAssessorModal', 'assessorEmail');
		
		var filteredEmail = _.filter(assessorEmailArr, function(v){return v.indexOf(keyVal) > -1;});
		
		var holder = $('#assessorSearchResult').empty();
		_.every(filteredEmail, function(email){
			$('<div>').html(email).appendTo(holder);
			return true;
		});
	});
	
	function successLoadSearchAssessor(json){		
		assessorEmailArr = _.map(json, function(o){return o.email;});
	}
});
</script>